.login {
  margin-top: 10px;
}

.login__name, .login__email {
  color: black;
  font-size: 1rem;
  font-weight: 400;
  height: 1.8rem;
  max-width: 80vw;
  width: 350px;
}

.login__button {
  background: rgb(67, 67, 174);
  border: none;
  color: white;
  font-size: 1rem;
  font-weight: 700;
  height: 35px;
  margin-top: 10px;
  max-width: 80vw;
  width: 359px;
}

.disabled {
  background: #aaa;
}

.settings__button {
  background: rgb(128, 255, 44);
  border: none;
  font-size: 1rem;
  font-weight: 700;
  height: 35px;
  margin-top: 10px;
  max-width: 80vw;
  width: 359px;
}